<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveApartment</servlet-name>
        <servlet-class>com.uwb.SaveApartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAddress</servlet-name>
        <servlet-class>com.uwb.SaveAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUnits</servlet-name>
        <servlet-class>com.uwb.SaveUnits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDeals</servlet-name>
        <servlet-class>com.uwb.SaveDeals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveContact</servlet-name>
        <servlet-class>com.uwb.SaveContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveApartment</servlet-name>
        <url-pattern>/saveApartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAddress</servlet-name>
        <url-pattern>/saveAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUnits</servlet-name>
        <url-pattern>/saveUnits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDeals</servlet-name>
        <url-pattern>/saveDeals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveContact</servlet-name>
        <url-pattern>/saveContact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
